In [21]:
import yfinance as yf

import os
os.chdir('C:\\Users\\btindol\\OneDrive - Stryker\\Linked In Learn\\Algorithmic Investing\Algorithmic Trading & Quantitative Analysis using Python')  
print(os.getcwd())  # Prints the current working directory

#####################################################################################################################################################
#imports 
#!pip install yfinance 
#!pip install pandas 
#!pip install numpy
#!pip install requests
!pip install datetime
#!pip install yahoofinancials
!pip install stocktrends
from yahoofinancials import YahooFinancials

import pandas as pd
import numpy as np
import requests
import datetime as dt
import os
import json 
from functools import reduce
import statsmodels.api as sm
from stocktrends import Renko


import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\btindol\OneDrive - Stryker\Linked In Learn\Algorithmic Investing\Algorithmic Trading & Quantitative Analysis using Python
Requirement already satisfied: datetime in c:\users\btindol\anaconda3\lib\site-packages (4.3)
Requirement already satisfied: pytz in c:\users\btindol\anaconda3\lib\site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in c:\users\btindol\anaconda3\lib\site-packages (from datetime) (5.1.2)
Requirement already satisfied: setuptools in c:\users\btindol\anaconda3\lib\site-packages (from zope.interface->datetime) (50.3.1.post20201107)

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\btindol\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: stocktrends in c:\users\btindol\anaconda3\lib\site-packages (0.1.4)

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\btindol\anaconda3\python.exe -m pip install --upgrade pip' command.

# SINGLE STOCK ANALYZER NOW MAKE STRATEGY OFF OF IT

# CONSOLIDATION FOR EASE!!!!!!!!!!!!!!

In [2]:
# for each of the column names for the % change columns 

def shifted_column(df):
    pctchg = [col for col in df.columns if 'percent_change' in col] # grabe % change columns
    colnew = []                                                                    # initiate empty list
    for i in range(0,len(pctchg)):                                                 # loop over column names
        print(pctchg[i])
        var1 = df[pctchg[i]].shift(-1)                                            # grab colunmn by name and shift up one
        colnew.append(var1)                                                        # append to list
    colnew = pd.DataFrame(colnew)                                                  # now its wide dataframe
    colnew = colnew.transpose()                                                    # make it narrow
    cols = colnew.columns.tolist()                                                 # take column names of narrow dataframe                                                
    newcols = []                                                                   # make list to add the text shift to the column name
    for j in range(0,len(cols)): 
        colz = cols[j] + "_" + "shift"                                             # add shift to the name of shifted column

        newcols.append(colz) 
    colnew.columns = newcols  
    return colnew
    #########################################################################################
    #########################################################################################
    
def clean_up_zeros_and_column_names(df):
    df =df.fillna(0)     
    df.columns = df.columns.str.replace("-", "_") 
    return df

In [3]:
def get_daily_returns(df):
    daily_return = df.pct_change()
    cols = daily_return.columns.tolist()
    newcols = []
    for j in range(0,len(cols)):
        if cols[j] == "formatted_date":
            colz = cols[j]
        else:
            colz = cols[j] + "_" + "percent_change"

        newcols.append(colz)
    daily_return.columns = newcols               
    return daily_return

In [4]:
def get_current_position(df,initial_position):
    
    # Calculate returns from initial position entry 
    shiftval = [col for col in df.columns if 'shift' in col]                   # find the shift column to bring % change up to today to mutliply to get positions next day amount.. 

    initial_position = initial_position                                             # pass from function above

    new = [(df[shiftval[0]][0] * initial_position) + initial_position]        # get first value in final for iterate the 0 of this 
    for i in range(1, len(df.index)):                                          # starting at second row of the dataframe column 
        new.append((new[i-1]*df[shiftval].values[i][0]) +new[i-1])
    
    df['Position'] = new
    df['Position'] = df['Position'].shift(1)
    df['Position'][0] = initial_position
    df.fillna(0)
    return df#['Position']

In [5]:
# Calculating RSI without using loop
def rsi(df, n):
    "function to calculate RSI"
    delta = df["Adj Close"].diff().dropna()
    u = delta * 0
    d = u.copy()
    u[delta > 0] = delta[delta > 0]
    d[delta < 0] = -delta[delta < 0]
    u[u.index[n-1]] = np.mean( u[:n]) # first value is average of gains
    u = u.drop(u.index[:(n-1)])
    d[d.index[n-1]] = np.mean( d[:n]) # first value is average of losses
    d = d.drop(d.index[:(n-1)])
    rs = u.ewm(com=n,min_periods=n).mean()/d.ewm(com=n,min_periods=n).mean()
    return 100 - 100 / (1+rs)

In [6]:
def ATR(DF,n):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df['H-L']=abs(df['High']-df['Low'])
    df['H-PC']=abs(df['High']-df['Adj Close'].shift(1))
    df['L-PC']=abs(df['Low']-df['Adj Close'].shift(1))
    df['TR']=df[['H-L','H-PC','L-PC']].max(axis=1,skipna=False)
    df['ATR'] = df['TR'].rolling(n).mean()
    #df['ATR'] = df['TR'].ewm(span=n,adjust=False,min_periods=n).mean()
    df2 = df.drop(['H-L','H-PC','L-PC'],axis=1)
    df2.dropna(inplace=True)
    return df2

In [7]:
def ADX(DF,n):
    "function to calculate ADX"
    df2 = DF.copy()
    df2['TR'] = ATR(df2,n)['TR'] #the period parameter of ATR function does not matter because period does not influence TR calculation
    df2['DMplus']=np.where((df2['High']-df2['High'].shift(1))>(df2['Low'].shift(1)-df2['Low']),df2['High']-df2['High'].shift(1),0)
    df2['DMplus']=np.where(df2['DMplus']<0,0,df2['DMplus'])
    df2['DMminus']=np.where((df2['Low'].shift(1)-df2['Low'])>(df2['High']-df2['High'].shift(1)),df2['Low'].shift(1)-df2['Low'],0)
    df2['DMminus']=np.where(df2['DMminus']<0,0,df2['DMminus'])
    TRn = []
    DMplusN = []
    DMminusN = []
    TR = df2['TR'].tolist()
    DMplus = df2['DMplus'].tolist()
    DMminus = df2['DMminus'].tolist()
    for i in range(len(df2)):
        if i < n:
            TRn.append(np.NaN)
            DMplusN.append(np.NaN)
            DMminusN.append(np.NaN)
        elif i == n:
            TRn.append(df2['TR'].rolling(n).sum().tolist()[n])
            DMplusN.append(df2['DMplus'].rolling(n).sum().tolist()[n])
            DMminusN.append(df2['DMminus'].rolling(n).sum().tolist()[n])
        elif i > n:
            TRn.append(TRn[i-1] - (TRn[i-1]/n) + TR[i])
            DMplusN.append(DMplusN[i-1] - (DMplusN[i-1]/n) + DMplus[i])
            DMminusN.append(DMminusN[i-1] - (DMminusN[i-1]/n) + DMminus[i])
    df2['TRn'] = np.array(TRn)
    df2['DMplusN'] = np.array(DMplusN)
    df2['DMminusN'] = np.array(DMminusN)
    df2['DIplusN']=100*(df2['DMplusN']/df2['TRn'])
    df2['DIminusN']=100*(df2['DMminusN']/df2['TRn'])
    df2['DIdiff']=abs(df2['DIplusN']-df2['DIminusN'])
    df2['DIsum']=df2['DIplusN']+df2['DIminusN']
    df2['DX']=100*(df2['DIdiff']/df2['DIsum'])
    ADX = []
    DX = df2['DX'].tolist()
    for j in range(len(df2)):
        if j < 2*n-1:
            ADX.append(np.NaN)
        elif j == 2*n-1:
            ADX.append(df2['DX'][j-n+1:j+1].mean())
        elif j > 2*n-1:
            ADX.append(((n-1)*ADX[j-1] + DX[j])/n)
    df2['ADX']=np.array(ADX)
    return df2['ADX']

In [8]:
def slope(ser,n):
    "function to calculate the slope of regression line for n consecutive points on a plot"
    ser = (ser - ser.min())/(ser.max() - ser.min())
    x = np.array(range(len(ser)))
    x = (x - x.min())/(x.max() - x.min())
    slopes = [i*0 for i in range(n-1)]
    for i in range(n,len(ser)+1):
        y_scaled = ser[i-n:i]
        x_scaled = x[:n]
        x_scaled = sm.add_constant(x_scaled)
        model = sm.OLS(y_scaled,x_scaled)
        results = model.fit()
        slopes.append(results.params[-1])
    slope_angle = (np.rad2deg(np.arctan(np.array(slopes))))
    return np.array(slope_angle)

# Come back for Renko Later!!

In [9]:
def OBV(DF):
    """function to calculate On Balance Volume"""
    df = DF.copy()
    df['daily_ret'] = df['Adj Close'].pct_change()
    df['direction'] = np.where(df['daily_ret']>=0,1,-1)
    df['direction'][0] = 0
    df['vol_adj'] = df['Volume'] * df['direction']
    df['obv'] = df['vol_adj'].cumsum()
    return df['obv']

In [10]:
def single_stock_analyzer(stocks, begin_date,end_date,initial_position,slow_ma,fast_ma):

    # looping over tickers and creating a dataframe with closing prices
    # get just adjusted close column for that ticker
    for ticker in stocks:
        AdjclosePrice = yf.download(ticker,beg_date,end_date)[['Adj Close','Open','High','Low','Close','Volume']]     
    
    # Make it a dataframe
    AdjclosePrice = pd.DataFrame(AdjclosePrice)
    
    # pass dataframe into function that gets the adjusted close percent change column
    AdjclosePrice_PctChg = get_daily_returns(AdjclosePrice)
    
    # merge percent change column to normal price of the stock (Adj Close)
    final = AdjclosePrice.merge(AdjclosePrice_PctChg, on='Date', how='left')
    
    # Shift the percent change column up for multiplying by the initial position input column later to simulate earnings.. 
    colnew =shifted_column(AdjclosePrice_PctChg)

    # join the new column onto existing Adj Close and Adj Close percent change columns 
    final_f= final.merge(colnew, on='Date', how='left')

    # fill na's with 0's and change weird characters such as - to _ in column names 
    final_f = clean_up_zeros_and_column_names(final_f)

    # See how the money you put in performed.. 
    var = get_current_position(final_f,initial_position)
    final_f['Position'] = var
    
    # Get the moving averages for the crossover strategt slow and fast moving averages..  
    final_f['Fast_moving_average'] = final_f['Adj Close'].rolling(window=fast_ma).mean() # 5 day price moving average
    final_f['Slow_moving_average'] = final_f['Adj Close'].rolling(window=slow_ma).mean() # 5 day price moving average

    # Bolligner band of the fast moving average 30 day.. 
    final_f["BB_up"] = final_f["Fast_moving_average"] + 2*final_f['Adj Close'].rolling(fast_ma).std(ddof=0) #ddof=0 is required since we want to take the standard deviation of the population and not sample
    final_f["BB_dn"] = final_f["Fast_moving_average"] - 2*final_f['Adj Close'].rolling(fast_ma).std(ddof=0) #ddof=0 is required since we want to take the standard deviation of the population and not sample
    final_f["BB_width"] = final_f["BB_up"] - final_f["BB_dn"]
    
    # rsi standard 14 periods
    final_f["RSI_fast_14_periods"] = rsi(final_f,14) # standard periods is 14
    final_f["RSI_slow_30_periods"] = rsi(final_f,30) # longer than average periods 30 
    
    # Average true range 14 period is standard 
    final_f2 = ATR(final_f,14) # 14 is standard for longer use 20 
    
    # Average directional movement here we will use a period matching the fast moving average
    final_f2['ADX'] = ADX(final_f2,fast_ma)
    
    
    #MACD, short for moving average convergence/divergence    
    """function to calculate MACD
       typical values a = 12; b =26, c =9"""
    a = 12;b=26;c=9
    final_f2["MA_Fast"]=final_f2["Adj Close"].ewm(span=a,min_periods=a).mean()
    final_f2["MA_Slow"]=final_f2["Adj Close"].ewm(span=b,min_periods=b).mean()
    final_f2["MACD"]=final_f2["MA_Fast"]-final_f2["MA_Slow"]
    final_f2["Signal"]=final_f2["MACD"].ewm(span=c,min_periods=c).mean()
    
    
    # Slope for last 5 days change if needed
    final_f2["close_slope"] = slope(final_f2["Adj Close"],5)
    
    # OBV
    OBV2= OBV(final_f2)
    
    # Merge OBV 
    final_f3 = final_f2.merge(OBV2, on='Date', how='left')
    
    return final_f3

In [11]:
stocks = ['ETH-USD']
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d') # 1825 is 5 years ish 
final_f = single_stock_analyzer(stocks,beg_date,end_date,10.239700,30,90)
final_f

[*********************100%***********************]  1 of 1 completed
Adj Close_percent_change
Open_percent_change
High_percent_change
Low_percent_change
Close_percent_change
Volume_percent_change

<ipython-input-4-d7cc4537d8de>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Position'][0] = initial_position
<ipython-input-9-444514be0a6c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['direction'][0] = 0

,Adj Close,Open,High,Low,Close,Volume,Adj Close_percent_change,Open_percent_change,High_percent_change,Low_percent_change,...,RSI_slow_30_periods,TR,ATR,ADX,MA_Fast,MA_Slow,MACD,Signal,close_slope,obv
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-15,11.218400,11.201700,11.310800,11.000100,11.218400,7500840,0.002108,-0.032944,-0.032819,-0.008920,...,46.438092,0.310699,0.821903,NaN,NaN,NaN,NaN,NaN,0.000000,0
2016-08-16,11.139700,11.228700,11.237300,11.002800,11.139700,7051510,-0.007015,0.002410,-0.006498,0.000245,...,46.192026,0.234500,0.628923,NaN,NaN,NaN,NaN,NaN,0.000000,-7051510
2016-08-17,10.752800,11.133200,11.154800,10.748600,10.752800,8833760,-0.034732,-0.008505,-0.007342,-0.023103,...,44.981230,0.406200,0.541457,NaN,NaN,NaN,NaN,NaN,0.000000,-15885270
2016-08-18,10.756100,10.747500,11.009100,10.744800,10.756100,6935800,0.000307,-0.034644,-0.013062,-0.000354,...,44.993937,0.264300,0.479279,NaN,NaN,NaN,NaN,NaN,0.000000,-8949470
2016-08-19,10.748700,10.746300,10.801100,10.727900,10.748700,5390850,-0.000688,-0.000112,-0.018893,-0.001573,...,44.969870,0.073200,0.454993,NaN,NaN,NaN,NaN,NaN,-3.151393,-14340320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-13,3715.148438,3828.918457,4032.563477,3549.407227,3715.148438,78398214539,-0.018675,-0.082814,-0.075598,-0.062454,...,66.750814,483.156250,333.871390,NaN,3600.608402,3182.237318,418.371084,383.263678,-87.682822,1567439140911
2021-05-14,4079.057373,3720.122314,4171.017090,3703.399902,4079.057373,48174271215,0.097953,-0.028414,0.034334,0.043385,...,70.065693,467.617188,362.423689,NaN,3674.215936,3248.668433,425.547503,391.720443,-83.149822,1615613412126
2021-05-15,3638.122070,4075.951660,4129.185547,3638.122070,3638.122070,42422321751,-0.108097,0.095650,-0.010029,-0.017626,...,62.290184,491.063477,383.533046,NaN,3668.663034,3277.516851,391.146183,391.605591,-88.207786,1573191090375
2021-05-16,3587.506104,3641.830811,3878.895996,3350.951660,3587.506104,47359478734,-0.013913,-0.106508,-0.060615,-0.078934,...,61.480871,527.944336,412.360090,NaN,3656.177352,3300.479018,355.698335,384.424140,-87.096122,1525831611641
2021-05-17,3508.463623,3562.271729,3565.223145,3183.492676,3508.463623,61107412992,-0.022033,-0.021846,-0.080867,-0.049974,...,60.218348,404.013428,405.585188,NaN,3633.452163,3315.885285,317.566878,371.052687,-88.478922,1464724198649

In [34]:

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#MAKE RENKO BAR ON YOUR OWN !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


# stocks = ['ETH-USD']
# end_date = (dt.date.today()).strftime('%Y-%m-%d')
# beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d') # 1825 is 5 years ish 

# ohlcv = yf.download(ticker,beg_date,end_date)[['Adj Close','Open','High','Low','Close','Volume']]

# def renko_DF(DF):
#     "function to convert ohlc data into renko bricks"
#     df = DF.copy()
#     df.reset_index(inplace=True)
#     df = df.loc[:,["Date","Open","High","Low","Close","Volume"]]
#     df.rename(columns = {"Date" : "date", "High" : "high","Low" : "low", "Open" : "open","Close" : "close", "Volume" : "volume"}, inplace = True)
#     df2 = Renko(df)
#     df2.brick_size = round(ATR(DF,120)["ATR"][-1],0)
#     renko_df = df2.get_ohlc_data() #if using older version of the library please use get_bricks() instead
#     return renko_df


# renko_data = renko_DF(ohlcv)
# renko_data
# renko_data.rename(columns= {"date" : "Date", "high" : "High","low" : "Low", "open" : "Open","close" : "Close", "volume" : "Volume","uptrend":"uptrend"},inplace = True)
# #renko_data = renko_data[["Date","uptrend"]]
# renko_data

# # final_f.reset_index(inplace = True)

# # final = final_f.merge(renko_data,on="Date", how='left')
# final.head(50)#.to_csv(file="final.csv")

["'!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!' is not recognized as an internal or external command,",
 'operable program or batch file.']

# LEFT OFF HERE !!! TRYING TO IMPLEMENT STRATEGY!!

# Get crossover strategy here then get multiple crossovers..

In [210]:
short_window= 30
long_window = 90
df = final_f.copy()

CrossOver_Strat = final_f[["Adj Close"]]

# Short and long moving average.. 
CrossOver_Strat["short_mavg"] = CrossOver_Strat["Adj Close"].rolling(window= short_window,min_periods=1, center=False).mean()
CrossOver_Strat["long_mavg"] = CrossOver_Strat["Adj Close"].rolling(window= long_window,min_periods=1, center=False).mean()

CrossOver_Strat["signal"]=0
CrossOver_Strat["signal"][short_window:] =np.where(CrossOver_Strat['short_mavg'][short_window:] > CrossOver_Strat['long_mavg'][short_window:],1,0)

CrossOver_Strat["positions"] = CrossOver_Strat["signal"].diff()
CrossOver_Strat["positions"] = CrossOver_Strat["positions"].fillna(0)

CrossOver_Strat['buy_only'] = np.where(CrossOver_Strat['positions'] == 1,1000,0) # buy every day if 1
CrossOver_Strat['buy'] = np.where(CrossOver_Strat['positions'] == 1,1000,np.where(CrossOver_Strat['positions']==-1,-1000,0)) # buy right when it crosses over.. 

CrossOver_Strat['percent_change_shift'] = CrossOver_Strat["Adj Close"].pct_change().shift(-1) # get percent change for adj close and shift it up for multiplication. 

CrossOver_Strat.head(80)

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift
Date,,,,,,,,
2016-08-15,11.2184,11.218400,11.218400,0,0.0,0,0,-0.007015
2016-08-16,11.1397,11.179050,11.179050,0,0.0,0,0,-0.034732
2016-08-17,10.7528,11.036967,11.036967,0,0.0,0,0,0.000307
2016-08-18,10.7561,10.966750,10.966750,0,0.0,0,0,-0.000688
2016-08-19,10.7487,10.923140,10.923140,0,0.0,0,0,0.046396
...,...,...,...,...,...,...,...,...
2016-10-29,10.4446,12.180327,12.041242,1,0.0,0,0,0.070678
2016-10-30,11.1828,12.112260,12.030094,1,0.0,0,0,-0.016507
2016-10-31,10.9982,12.039777,12.016864,1,0.0,0,0,-0.021103
2016-11-01,10.7661,11.958657,12.001032,0,-1.0,0,-1000,-0.001254
2016-11-02,10.7526,11.868663,11.985426,0,0.0,0,0,0.004501

In [211]:
# Normal position without using the strategy.. 
initial_position = 11.218400
new = [(CrossOver_Strat.percent_change_shift.values[0] * initial_position) + initial_position] # make the first value of new column hold it in variable where we take initial position and multiply by the shifted percent change column to get initial starting value
for i in range(1, len(CrossOver_Strat.index)): # starting at second row of the dataframe column 
    new.append((new[i-1]*CrossOver_Strat.percent_change_shift.values[i]) +new[i-1]) # take new and multiply the first calculated value by the next percent change plus the origional value to get new position value

# Assign the list new to the dataframe column
CrossOver_Strat['CurrentPosition'] = new
#CrossOver_Strat['CurrentPosition'] = CrossOver_Strat['CurrentPosition'].round(2) # round the coumn
CrossOver_Strat['CurrentPosition'] = CrossOver_Strat['CurrentPosition'].round(2).shift(1) # shift it down to make since since shifted percent change up one value
CrossOver_Strat.CurrentPosition.iloc[0] = 11.218400  # inject the initial starting amount into the first value of the column.. 
CrossOver_Strat

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift,CurrentPosition
Date,,,,,,,,,
2016-08-15,11.218400,11.218400,11.218400,0,0.0,0,0,-0.007015,11.2184
2016-08-16,11.139700,11.179050,11.179050,0,0.0,0,0,-0.034732,11.1400
2016-08-17,10.752800,11.036967,11.036967,0,0.0,0,0,0.000307,10.7500
2016-08-18,10.756100,10.966750,10.966750,0,0.0,0,0,-0.000688,10.7600
2016-08-19,10.748700,10.923140,10.923140,0,0.0,0,0,0.046396,10.7500
...,...,...,...,...,...,...,...,...,...
2021-05-13,3715.148438,2937.750350,2187.391614,1,0.0,0,0,0.097953,3715.1500
2021-05-14,4079.057373,2992.548763,2212.557697,1,0.0,0,0,-0.108097,4079.0600
2021-05-15,3638.122070,3029.848958,2232.924786,1,0.0,0,0,-0.013913,3638.1200
2021-05-16,3587.506104,3068.367611,2253.010509,1,0.0,0,0,-0.022033,3587.5100
2021-05-17,3508.463623,3107.153231,2272.203799,1,0.0,0,0,NaN,3508.4600

In [212]:
initial_position = 100
CrossOver_Strat['initial_position_at_beginning'] =0

CrossOver_Strat.initial_position_at_beginning.iloc[0] = initial_position

In [213]:
# How many buys do we have
CrossOver_Strat2 = CrossOver_Strat[CrossOver_Strat['positions'] == 1.0].sum().positions # get the sum of positions and minus the first for the entry amount.. 
CrossOver_Strat2#.positions
#CrossOver_Strat2['positions'].sum() # There were 9 buys of 1000$

9.0

In [214]:
# How many sells do we have
CrossOver_Strat3 = CrossOver_Strat[CrossOver_Strat['positions'] == -1.0]
CrossOver_Strat3['positions'].sum() # There were 8 sells of 1000$

-8.0

In [153]:
# Compare trading methods..
#Add 8*1000 to first inital position and call it buy and hold..
# buy 1000 at 1 where 30 is greater than 90 (long_ma) and sell 1000 when -1 
# then buy all you have at 1 and sell all you have cumulatively at -1..
# then start off  with regular initial amount at get in the same amount of money at arbitrary random time interval no strategy..
# Also enter at the beginning and just add when its time.

# If minus 1000 add 2000 at next position??

In [222]:
initial_position = 100                                                       # initialize the first amount to add to trade
var = CrossOver_Strat[CrossOver_Strat.positions == 1].first_valid_index()    # find first strategy entry position
var #'2016-10-27'
CrossOver_Strat["Position_Start"] = np.where(CrossOver_Strat.index == var,initial_position,0) # FIND the first time it crosses over to buy

# We dont want to start the position adding additional 1000 because we want to put our intial amount in there
CrossOver_Strat["buy_final"] = np.where(CrossOver_Strat.index == var,0,CrossOver_Strat["buy"])                          # make column that is the same as buy where first time we add were adding 1000 and inital
CrossOver_Strat["inital_position_at_first_crossover"] = np.where(CrossOver_Strat.index == var,initial_position,CrossOver_Strat["buy_final"]) # first position dont add position only but from there add the buys. 


# We dont want to start the position adding additional 1000 because we want to put our intial amount in there
CrossOver_Strat["buy_only_final"] = np.where(CrossOver_Strat.index == var,0,CrossOver_Strat["buy_only"])                          # make column that is the same as buy where first time we add were adding 1000 and inital
CrossOver_Strat["inital_position_at_first_crossover_buy_only"] = np.where(CrossOver_Strat.index == var,initial_position,CrossOver_Strat["buy_only_final"]) # first position dont add position only but from there add the buys.

In [223]:
CrossOver_Strat.head(50)

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift,CurrentPosition,initial_position_at_beginning,Position_Start,buy_final,inital_position_at_first_crossover,buy_only_final,inital_position_at_first_crossover_buy_only,newpos
Date,,,,,,,,,,,,,,,,
2016-08-15,11.2184,11.218400,11.218400,0,0.0,0,0,-0.007015,11.2184,100,0,0,0,0,0,-0.000000
2016-08-16,11.1397,11.179050,11.179050,0,0.0,0,0,-0.034732,11.1400,0,0,0,0,0,0,-0.000000
2016-08-17,10.7528,11.036967,11.036967,0,0.0,0,0,0.000307,10.7500,0,0,0,0,0,0,0.000000
2016-08-18,10.7561,10.966750,10.966750,0,0.0,0,0,-0.000688,10.7600,0,0,0,0,0,0,-0.000000
2016-08-19,10.7487,10.923140,10.923140,0,0.0,0,0,0.046396,10.7500,0,0,0,0,0,0,0.000000
2016-08-20,11.2474,10.977183,10.977183,0,0.0,0,0,-0.006064,11.2500,0,0,0,0,0,0,-0.000000
2016-08-21,11.1792,11.006043,11.006043,0,0.0,0,0,-0.005215,11.1800,0,0,0,0,0,0,-0.000000
2016-08-22,11.1209,11.020400,11.020400,0,0.0,0,0,-0.008120,11.1200,0,0,0,0,0,0,-0.000000
2016-08-23,11.0306,11.021533,11.021533,0,0.0,0,0,0.000490,11.0300,0,0,0,0,0,0,0.000000
2016-08-24,11.0360,11.022980,11.022980,0,0.0,0,0,0.029123,11.0400,0,0,0,0,0,0,0.000000
2016-08-25,11.3574,11.053382,11.053382,0,0.0,0,0,-0.005459,11.3600,0,0,0,0,0,0,-0.000000
2016-08-26,11.2954,11.073550,11.073550,0,0.0,0,0,-0.013032,11.3000,0,0,0,0,0,0,-0.000000
2016-08-27,11.1482,11.079292,11.079292,0,0.0,0,0,-0.019635,11.1500,0,0,0,0,0,0,-0.000000
2016-08-28,10.9293,11.068579,11.068579,0,0.0,0,0,0.004987,10.9300,0,0,0,0,0,0,0.000000
2016-08-29,10.9838,11.062927,11.062927,0,0.0,0,0,0.022315,10.9800,0,0,0,0,0,0,0.000000
2016-08-30,11.2289,11.073300,11.073300,0,0.0,0,0,0.039496,11.2300,0,0,0,0,0,0,0.000000
2016-08-31,11.6724,11.108541,11.108541,0,0.0,0,0,0.027629,11.6700,0,0,0,0,0,0,0.000000
2016-09-01,11.9949,11.157783,11.157783,0,0.0,0,0,0.009846,11.9900,0,0,0,0,0,0,0.000000
2016-09-02,12.1130,11.208058,11.208058,0,0.0,0,0,-0.029250,12.1100,0,0,0,0,0,0,-0.000000
2016-09-03,11.7587,11.235590,11.235590,0,0.0,0,0,-0.006701,11.7600,0,0,0,0,0,0,-0.000000
2016-09-04,11.6799,11.256748,11.256748,0,0.0,0,0,0.003176,11.6800,0,0,0,0,0,0,0.000000
2016-09-05,11.7170,11.277668,11.277668,0,0.0,0,0,-0.002381,11.7200,0,0,0,0,0,0,-0.000000
2016-09-06,11.6891,11.295557,11.295557,0,0.0,0,0,-0.012080,11.6900,0,0,0,0,0,0,-0.000000
2016-09-07,11.5479,11.306071,11.306071,0,0.0,0,0,-0.017492,11.5500,0,0,0,0,0,0,-0.000000
2016-09-08,11.3459,11.307664,11.307664,0,0.0,0,0,0.027049,11.3500,0,0,0,0,0,0,0.000000
2016-09-09,11.6528,11.320938,11.320938,0,0.0,0,0,0.044255,11.6500,0,0,0,0,0,0,0.000000
2016-09-10,12.1685,11.352330,11.352330,0,0.0,0,0,-0.043563,12.1700,0,0,0,0,0,0,-0.000000
2016-09-11,11.6384,11.362546,11.362546,0,0.0,0,0,0.021936,11.6400,0,0,0,0,0,0,0.000000
2016-09-12,11.8937,11.380862,11.380862,0,0.0,0,0,0.002102,11.8900,0,0,0,0,0,0,0.000000
2016-09-13,11.9187,11.398790,11.398790,0,0.0,0,0,0.000378,11.9200,0,0,0,0,0,0,0.000000
2016-09-14,11.9232,11.422283,11.415706,1,1.0,1000,1000,0.001157,11.9200,0,100,0,100,0,100,0.115746
2016-09-15,11.9370,11.448860,11.431997,1,0.0,0,0,0.051839,11.9400,0,0,0,0,0,0,0.000000
2016-09-16,12.5558,11.508960,11.466052,1,0.0,0,0,0.011373,12.5600,0,0,0,0,0,0,0.000000
2016-09-17,12.6986,11.573710,11.502303,1,0.0,0,0,-0.021057,12.7000,0,0,0,0,0,0,-0.000000
2016-09-18,12.4312,11.629793,11.528843,1,0.0,0,0,0.060960,12.4300,0,0,0,0,0,0,0.000000
2016-09-19,13.1890,11.694513,11.574958,1,0.0,0,0,0.094116,13.1900,0,0,0,0,0,0,0.000000
2016-09-20,14.4303,11.802883,11.652130,1,0.0,0,0,-0.045862,14.4300,0,0,0,0,0,0,-0.000000
2016-09-21,13.7685,11.891137,11.707824,1,0.0,0,0,-0.037833,13.7700,0,0,0,0,0,0,-0.000000
2016-09-22,13.2476,11.965037,11.747305,1,0.0,0,0,0.006318,13.2500,0,0,0,0,0,0,0.000000
2016-09-23,13.3313,12.041547,11.786905,1,0.0,0,0,-0.034010,13.3300,0,0,0,0,0,0,-0.000000
2016-09-24,12.8779,12.092230,11.813515,1,0.0,0,0,0.017316,12.8800,0,0,0,0,0,0,0.000000
2016-09-25,13.1009,12.152413,11.844167,1,0.0,0,0,-0.021205,13.1000,0,0,0,0,0,0,-0.000000
2016-09-26,12.8231,12.208243,11.866933,1,0.0,0,0,0.021461,12.8200,0,0,0,0,0,0,0.000000
2016-09-27,13.0983,12.280543,11.894918,1,0.0,0,0,0.013475,13.1000,0,0,0,0,0,0,0.000000
2016-09-28,13.2748,12.356910,11.925582,1,0.0,0,0,-0.015172,13.2700,0,0,0,0,0,0,-0.000000
2016-09-29,13.0734,12.418393,11.950535,1,0.0,0,0,0.011581,13.0700,0,0,0,0,0,0,0.000000
2016-09-30,13.2248,12.470140,11.977647,1,0.0,0,0,-0.003940,13.2200,0,0,0,0,0,0,-0.000000
2016-10-01,13.1727,12.509400,12.002544,1,0.0,0,0,0.002050,13.1700,0,0,0,0,0,0,0.000000
2016-10-02,13.1997,12.545623,12.026976,1,0.0,0,0,0.019144,13.2000,0,0,0,0,0,0,0.000000
2016-10-03,13.4524,12.602080,12.055484,1,0.0,0,0,-0.013039,13.4500,0,0,0,0,0,0,-0.000000

In [350]:
newft = []
counter = 0
for i in range(0, len(CrossOver_Strat.index)):
    if CrossOver_Strat.signal.values[i] == 0 and counter == 0:
        newft.append(0)
    else:
        counter +=1
        newft.append(counter)
        

CrossOver_Strat['newft'] = newft
CrossOver_Strat.to_csv("count2.csv")

In [348]:
newft = []
counter = 0
for i in range(0, len(CrossOver_Strat.index)):
    if CrossOver_Strat.signal.values[i] == 0 and counter == 0:
        newft.append(0)
    else:
        counter +=1
        newft.append(counter)
        
CrossOver_Strat['newft'] = newft
CrossOver_Strat

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift,CurrentPosition,initial_position_at_beginning,Position_Start,buy_final,inital_position_at_first_crossover,buy_only_final,inital_position_at_first_crossover_buy_only,newpos,new,newft
Date,,,,,,,,,,,,,,,,,,
2016-08-15,11.218400,11.218400,11.218400,0,0.0,0,0,-0.007015,11.2184,100,0,0,0,0,0,-0.0,0.000000,0
2016-08-16,11.139700,11.179050,11.179050,0,0.0,0,0,-0.034732,11.1400,0,0,0,0,0,0,-0.0,0.000000,0
2016-08-17,10.752800,11.036967,11.036967,0,0.0,0,0,0.000307,10.7500,0,0,0,0,0,0,0.0,0.000000,0
2016-08-18,10.756100,10.966750,10.966750,0,0.0,0,0,-0.000688,10.7600,0,0,0,0,0,0,-0.0,0.000000,0
2016-08-19,10.748700,10.923140,10.923140,0,0.0,0,0,0.046396,10.7500,0,0,0,0,0,0,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-13,3715.148438,2937.750350,2187.391614,1,0.0,0,0,0.097953,3715.1500,0,0,0,0,0,0,0.0,520985.570155,1699
2021-05-14,4079.057373,2992.548763,2212.557697,1,0.0,0,0,-0.108097,4079.0600,0,0,0,0,0,0,-0.0,464668.409329,1700
2021-05-15,3638.122070,3029.848958,2232.924786,1,0.0,0,0,-0.013913,3638.1200,0,0,0,0,0,0,-0.0,458203.634282,1701
2021-05-16,3587.506104,3068.367611,2253.010509,1,0.0,0,0,-0.022033,3587.5100,0,0,0,0,0,0,-0.0,448108.166632,1702
2021-05-17,3508.463623,3107.153231,2272.203799,1,0.0,0,0,NaN,3508.4600,0,0,0,0,0,0,NaN,NaN,1703

In [358]:
# newval = []
# newval2 = [(filtered_df.percent_change_shift.values[0] * initial_position) + initial_position]
# initial_position = 100
# for i in range(0, len(CrossOver_Strat.index)):
#     if CrossOver_Strat.newft.values[i] == 0:
#         newval.append(0)
#     elif CrossOver_Strat.newft.values[i] > 0:
#         var =len(newval)+1
#         filtered_df = CrossOver_Strat.iloc[var::,]                                          # start at the beginning of the position..
#         #new = [(filtered_df.percent_change_shift.values[0] * initial_position) + initial_position]
#         for i in range(1, len(filtered_df.index)): #    starting at second row of the dataframe column 
#               newval2.append((newval2[i-1]*filtered_df.percent_change_shift.values[i]) + newval2[i-1] +filtered_df.inital_position_at_first_crossover_buy_only.values[i])# take new and multiply the first calculated val
#         #newval.append(initial_position)

# newval = pd.DataFrame(newval)
# newval2=  pd.DataFrame(newval2)
# final_dfz = pd.concat([newval, newval2])
# final_dfz.to_csv("nfew.csv")
        
#          #new = [(filtered_df.percent_change_shift.values[0] * initial_position) + initial_position]
# #         for i in range(1, len(filtered_df.index)): #    starting at second row of the dataframe column 
# #              new.append((new[i-1]*filtered_df.percent_change_shift.values[i]) + new[i-1] +filtered_df.inital_position_at_first_crossover_buy_only.values[i])# take new and multiply the first calculated value by the next percent change plus 
        
# #         filtered_df['new'] = new
        
# # #     # Add the extra amount then get the return! # Buy only 
# # # initial_position = 100
# # initial_position =initial_position
# # new = [(filtered_df.percent_change_shift.values[0] * initial_position) + initial_position]
# # for i in range(1, len(filtered_df.index)): # starting at second row of the dataframe column 
# #      new.append((new[i-1]*filtered_df.percent_change_shift.values[i]) + new[i-1] +filtered_df.inital_position_at_first_crossover_buy_only.values[i])# take new and multiply the first calculated value by the next percent change plus the origional value to get new position value
# # filtered_df['new'] = new
# # filtered_df.head(50)

# # # filtered_df.to_csv("new.csv")

In [359]:
#newval2

In [331]:
initial_position = 100                                                       # initialize the first amount to add to trade
var = CrossOver_Strat[CrossOver_Strat.positions == 1].first_valid_index()    # find first strategy entry position
var #'2016-09-14'
length = len(CrossOver_Strat)
filtered_df = CrossOver_Strat.loc[var::,]                                          # start at the beginning of the position..
filtered_df

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift,CurrentPosition,initial_position_at_beginning,Position_Start,buy_final,inital_position_at_first_crossover,buy_only_final,inital_position_at_first_crossover_buy_only,newpos,new,newft
Date,,,,,,,,,,,,,,,,,,
2016-09-14,11.923200,11.422283,11.415706,1,1.0,1000,1000,0.001157,11.92,0,100,0,100,0,100,0.115746,100.115746,1
2016-09-15,11.937000,11.448860,11.431997,1,0.0,0,0,0.051839,11.94,0,0,0,0,0,0,0.000000,105.305629,2
2016-09-16,12.555800,11.508960,11.466052,1,0.0,0,0,0.011373,12.56,0,0,0,0,0,0,0.000000,106.503289,3
2016-09-17,12.698600,11.573710,11.502303,1,0.0,0,0,-0.021057,12.70,0,0,0,0,0,0,-0.000000,104.260604,4
2016-09-18,12.431200,11.629793,11.528843,1,0.0,0,0,0.060960,12.43,0,0,0,0,0,0,0.000000,110.616282,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-13,3715.148438,2937.750350,2187.391614,1,0.0,0,0,0.097953,3715.15,0,0,0,0,0,0,0.000000,520985.570155,1015
2021-05-14,4079.057373,2992.548763,2212.557697,1,0.0,0,0,-0.108097,4079.06,0,0,0,0,0,0,-0.000000,464668.409329,1016
2021-05-15,3638.122070,3029.848958,2232.924786,1,0.0,0,0,-0.013913,3638.12,0,0,0,0,0,0,-0.000000,458203.634282,1017
2021-05-16,3587.506104,3068.367611,2253.010509,1,0.0,0,0,-0.022033,3587.51,0,0,0,0,0,0,-0.000000,448108.166632,1018
2021-05-17,3508.463623,3107.153231,2272.203799,1,0.0,0,0,NaN,3508.46,0,0,0,0,0,0,NaN,NaN,1019

In [318]:
filtered_df['inital_position_at_first_crossover_buy_only'].sum()

8100

In [313]:
initial_position = 100                                                       # initialize the first amount to add to trade
var = CrossOver_Strat[CrossOver_Strat.positions == 1].first_valid_index()    # find first strategy entry position
var#'2016-09-14'
length = len(CrossOver_Strat.loc[:var,])-1
filtered_df2 = CrossOver_Strat.iloc[:length,]                                          # Get everything before the entry posoition. 
filtered_df2.head()

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift,CurrentPosition,initial_position_at_beginning,Position_Start,buy_final,inital_position_at_first_crossover,buy_only_final,inital_position_at_first_crossover_buy_only,newpos,new
Date,,,,,,,,,,,,,,,,,
2016-08-15,11.2184,11.218400,11.218400,0,0.0,0,0,-0.007015,11.2184,100,0,0,0,0,0,-0.0,0.0
2016-08-16,11.1397,11.179050,11.179050,0,0.0,0,0,-0.034732,11.1400,0,0,0,0,0,0,-0.0,0.0
2016-08-17,10.7528,11.036967,11.036967,0,0.0,0,0,0.000307,10.7500,0,0,0,0,0,0,0.0,0.0
2016-08-18,10.7561,10.966750,10.966750,0,0.0,0,0,-0.000688,10.7600,0,0,0,0,0,0,-0.0,0.0
2016-08-19,10.7487,10.923140,10.923140,0,0.0,0,0,0.046396,10.7500,0,0,0,0,0,0,0.0,0.0

In [312]:
# Add the extra amount then get the return! # Buy only 
initial_position = 100
initial_position =initial_position
new = [(filtered_df.percent_change_shift.values[0] * initial_position) + initial_position]
for i in range(1, len(filtered_df.index)): # starting at second row of the dataframe column 
     new.append((new[i-1]*filtered_df.percent_change_shift.values[i]) + new[i-1] +filtered_df.inital_position_at_first_crossover_buy_only.values[i])# take new and multiply the first calculated value by the next percent change plus the origional value to get new position value
filtered_df['new'] = new
filtered_df.head(50)

filtered_df.to_csv("new.csv")
#filtered_df['new2'] = np.where(filtered_df['inital_position_at_first_crossover_buy_only'] != 0, (filtered_df['buy_only_final'] + filtered_df['new']) *
#filtered_df.head(50)

In [316]:
final_df = pd.concat([filtered_df2, filtered_df])
final_df
final_df.to_csv("new2.csv")

In [317]:
final_df.head(50)

,Adj Close,short_mavg,long_mavg,signal,positions,buy_only,buy,percent_change_shift,CurrentPosition,initial_position_at_beginning,Position_Start,buy_final,inital_position_at_first_crossover,buy_only_final,inital_position_at_first_crossover_buy_only,newpos,new,new2
Date,,,,,,,,,,,,,,,,,,
2016-08-15,11.2184,11.218400,11.218400,0,0.0,0,0,-0.007015,11.2184,100,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-16,11.1397,11.179050,11.179050,0,0.0,0,0,-0.034732,11.1400,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-17,10.7528,11.036967,11.036967,0,0.0,0,0,0.000307,10.7500,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-18,10.7561,10.966750,10.966750,0,0.0,0,0,-0.000688,10.7600,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-19,10.7487,10.923140,10.923140,0,0.0,0,0,0.046396,10.7500,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-20,11.2474,10.977183,10.977183,0,0.0,0,0,-0.006064,11.2500,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-21,11.1792,11.006043,11.006043,0,0.0,0,0,-0.005215,11.1800,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-22,11.1209,11.020400,11.020400,0,0.0,0,0,-0.008120,11.1200,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-23,11.0306,11.021533,11.021533,0,0.0,0,0,0.000490,11.0300,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-24,11.0360,11.022980,11.022980,0,0.0,0,0,0.029123,11.0400,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-25,11.3574,11.053382,11.053382,0,0.0,0,0,-0.005459,11.3600,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-26,11.2954,11.073550,11.073550,0,0.0,0,0,-0.013032,11.3000,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-27,11.1482,11.079292,11.079292,0,0.0,0,0,-0.019635,11.1500,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-08-28,10.9293,11.068579,11.068579,0,0.0,0,0,0.004987,10.9300,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-29,10.9838,11.062927,11.062927,0,0.0,0,0,0.022315,10.9800,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-30,11.2289,11.073300,11.073300,0,0.0,0,0,0.039496,11.2300,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-08-31,11.6724,11.108541,11.108541,0,0.0,0,0,0.027629,11.6700,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-01,11.9949,11.157783,11.157783,0,0.0,0,0,0.009846,11.9900,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-02,12.1130,11.208058,11.208058,0,0.0,0,0,-0.029250,12.1100,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-09-03,11.7587,11.235590,11.235590,0,0.0,0,0,-0.006701,11.7600,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-09-04,11.6799,11.256748,11.256748,0,0.0,0,0,0.003176,11.6800,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-05,11.7170,11.277668,11.277668,0,0.0,0,0,-0.002381,11.7200,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-09-06,11.6891,11.295557,11.295557,0,0.0,0,0,-0.012080,11.6900,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-09-07,11.5479,11.306071,11.306071,0,0.0,0,0,-0.017492,11.5500,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-09-08,11.3459,11.307664,11.307664,0,0.0,0,0,0.027049,11.3500,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-09,11.6528,11.320938,11.320938,0,0.0,0,0,0.044255,11.6500,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-10,12.1685,11.352330,11.352330,0,0.0,0,0,-0.043563,12.1700,0,0,0,0,0,0,-0.000000,0.000000,NaN
2016-09-11,11.6384,11.362546,11.362546,0,0.0,0,0,0.021936,11.6400,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-12,11.8937,11.380862,11.380862,0,0.0,0,0,0.002102,11.8900,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-13,11.9187,11.398790,11.398790,0,0.0,0,0,0.000378,11.9200,0,0,0,0,0,0,0.000000,0.000000,NaN
2016-09-14,11.9232,11.422283,11.415706,1,1.0,1000,1000,0.001157,11.9200,0,100,0,100,0,100,0.115746,100.115746,100.115746
2016-09-15,11.9370,11.448860,11.431997,1,0.0,0,0,0.051839,11.9400,0,0,0,0,0,0,0.000000,105.305629,105.305629
2016-09-16,12.5558,11.508960,11.466052,1,0.0,0,0,0.011373,12.5600,0,0,0,0,0,0,0.000000,106.503289,106.503289
2016-09-17,12.6986,11.573710,11.502303,1,0.0,0,0,-0.021057,12.7000,0,0,0,0,0,0,-0.000000,104.260604,104.260604
2016-09-18,12.4312,11.629793,11.528843,1,0.0,0,0,0.060960,12.4300,0,0,0,0,0,0,0.000000,110.616282,110.616282
2016-09-19,13.1890,11.694513,11.574958,1,0.0,0,0,0.094116,13.1900,0,0,0,0,0,0,0.000000,121.027075,121.027075
2016-09-20,14.4303,11.802883,11.652130,1,0.0,0,0,-0.045862,14.4300,0,0,0,0,0,0,-0.000000,115.476556,115.476556
2016-09-21,13.7685,11.891137,11.707824,1,0.0,0,0,-0.037833,13.7700,0,0,0,0,0,0,-0.000000,111.107756,111.107756
2016-09-22,13.2476,11.965037,11.747305,1,0.0,0,0,0.006318,13.2500,0,0,0,0,0,0,0.000000,111.809750,111.809750
2016-09-23,13.3313,12.041547,11.786905,1,0.0,0,0,-0.034010,13.3300,0,0,0,0,0,0,-0.000000,108.007083,108.007083
2016-09-24,12.8779,12.092230,11.813515,1,0.0,0,0,0.017316,12.8800,0,0,0,0,0,0,0.000000,109.877383,109.877383
2016-09-25,13.1009,12.152413,11.844167,1,0.0,0,0,-0.021205,13.1000,0,0,0,0,0,0,-0.000000,107.547474,107.547474
2016-09-26,12.8231,12.208243,11.866933,1,0.0,0,0,0.021461,12.8200,0,0,0,0,0,0,0.000000,109.855579,109.855579
2016-09-27,13.0983,12.280543,11.894918,1,0.0,0,0,0.013475,13.1000,0,0,0,0,0,0,0.000000,111.335889,111.335889
2016-09-28,13.2748,12.356910,11.925582,1,0.0,0,0,-0.015172,13.2700,0,0,0,0,0,0,-0.000000,109.646738,109.646738
2016-09-29,13.0734,12.418393,11.950535,1,0.0,0,0,0.011581,13.0700,0,0,0,0,0,0,0.000000,110.916537,110.916537
2016-09-30,13.2248,12.470140,11.977647,1,0.0,0,0,-0.003940,13.2200,0,0,0,0,0,0,-0.000000,110.479572,110.479572
2016-10-01,13.1727,12.509400,12.002544,1,0.0,0,0,0.002050,13.1700,0,0,0,0,0,0,0.000000,110.706025,110.706025
2016-10-02,13.1997,12.545623,12.026976,1,0.0,0,0,0.019144,13.2000,0,0,0,0,0,0,0.000000,112.825421,112.825421
2016-10-03,13.4524,12.602080,12.055484,1,0.0,0,0,-0.013039,13.4500,0,0,0,0,0,0,-0.000000,111.354341,111.354341

In [ ]:
# This is using the total amount (bought only no selling) and buying at the beginning and holding.  
# IF YOU HAD THAT MUCH MONEY.. 
startval =filtered_df['inital_position_at_first_crossover_buy_only'].sum() # make column where you use this as the start

In [322]:
# Normal position without using the strategy.. 
startval =filtered_df['inital_position_at_first_crossover_buy_only'].sum() # make column where you use this as the start
initial_position = startval
new = [(final_df.percent_change_shift.values[0] * initial_position) + initial_position] # make the first value of new column hold it in variable where we take initial position and multiply by the shifted percent change column to get initial starting value
for i in range(1, len(final_df.index)): # starting at second row of the dataframe column 
    new.append((new[i-1]*final_df.percent_change_shift.values[i]) +new[i-1]) # take new and multiply the first calculated value by the next percent change plus the origional value to get new position value

# Assign the list new to the dataframe column
final_df['start_full_no_strat'] = new
final_df['start_full_no_strat'] = final_df['start_full_no_strat'].round(2).shift(1) # shift it down to make since since shifted percent change up one value
final_df.start_full_no_strat.iloc[0] = startval  # inject the initial starting amount into the first value of the column.. 
final_df.to_csv("new3.csv")

# Try to incorporate the selling intot the equation.. not just buying
Compare adding random amounts where you buy in randomly spaced intervals to buying initial value at first.
# Compare trading methods..
#Add 8*1000 to first inital position and call it buy and hold..
# buy 1000 at 1 where 30 is greater than 90 (long_ma) and sell 1000 when -1 
# then buy all you have at 1 and sell all you have cumulatively at -1..
# then start off  with regular initial amount at get in the same amount of money at arbitrary random time interval no strategy..
# Also enter at the beginning and just add when its time.

# If minus 1000 add 2000 at next position??

In [265]:
CrossOver_Strat.inital_position_at_first_crossover_buy_only.values[0]

0

In [51]:
var = CrossOver_Strat[CrossOver_Strat.positions == 1].first_valid_index()
var

Timestamp('2016-09-14 00:00:00')

In [147]:
# var = add_strategy(CrossOver_Strat,100)
# var.head(50)

In [ ]:
# start off with

In [ ]:
# Now add 100 at the begining vs adding 100 at the positions..
# Also add one where you buy at a specified interval once a month..
# First count up the number of times/ amount that you buy..

In [47]:
# Make new column if index is the first time ther is a cross over then add the value in..

#MAKE SURE TO SHIFT THE FINAL OUTCOME COLUMN BY THE RIGHT AMOUNT 

initial_position = 100000
var = CrossOver_Strat[CrossOver_Strat.positions == 1].first_valid_index()
var #'2016-10-27'
CrossOver_Strat["Position_Start"] = np.where(CrossOver_Strat.index == var,initial_position,0) # FIND the first time it crosses over to buy
CrossOver_Strat["Position_plus_buy"] = CrossOver_Strat["buy"] + CrossOver_Strat["Position_Start"]
CrossOver_Strat["Current_Position_Base"] = CrossOver_Strat["Position_plus_buy"].cumsum()
CrossOver_Strat["Current_Position_Pct_Change"] =np.where(CrossOver_Strat['signal'] == 1,CrossOver_Strat["Current_Position_Base"] * CrossOver_Strat["percent_change_shift"],0)
CrossOver_Strat['Current_Position_Final2'] =CrossOver_Strat["Current_Position_Base"] + CrossOver_Strat["Current_Position_Pct_Change"]
CrossOver_Strat['Current_Position_Final3'] =np.where(CrossOver_Strat["signal"] == 0,0,CrossOver_Strat['Current_Position_Final2'])


# NEED TO FIND A WAY TO FIND O8T 
#CrossOver_Strat['cumsum_buy'] = CrossOver_Strat["buy"].cumsum()
#CrossOver_Strat["Current_Position_Pct_Change_cumbuy"] =np.where(CrossOver_Strat['signal'] == 1,CrossOver_Strat["Current_Position_Base"] * CrossOver_Strat["percent_change_shift"],0)
CrossOver_Strat.head(50)

,Adj Close,short_mavg,long_mavg,signal,positions,buy,percent_change_shift,CurrentPosition,Current_Position_Final,Position_Start,Position_plus_buy,Current_Position_Base,Current_Position_Pct_Change,Current_Position_Final2,Current_Position_Final3
Date,,,,,,,,,,,,,,,
2016-08-15,11.2184,11.218400,11.218400,0,0.0,0,-0.007015,99.30,100.00,0,0,0,0.000000,0.000000,0.000000
2016-08-16,11.1397,11.179050,11.179050,0,0.0,0,-0.034732,95.85,99.30,0,0,0,0.000000,0.000000,0.000000
2016-08-17,10.7528,11.036967,11.036967,0,0.0,0,0.000307,95.88,95.85,0,0,0,0.000000,0.000000,0.000000
2016-08-18,10.7561,10.966750,10.966750,0,0.0,0,-0.000688,95.81,95.88,0,0,0,0.000000,0.000000,0.000000
2016-08-19,10.7487,10.923140,10.923140,0,0.0,0,0.046396,100.26,95.81,0,0,0,0.000000,0.000000,0.000000
2016-08-20,11.2474,10.977183,10.977183,0,0.0,0,-0.006064,99.65,100.26,0,0,0,0.000000,0.000000,0.000000
2016-08-21,11.1792,11.006043,11.006043,0,0.0,0,-0.005215,99.13,99.65,0,0,0,0.000000,0.000000,0.000000
2016-08-22,11.1209,11.020400,11.020400,0,0.0,0,-0.008120,98.33,99.13,0,0,0,0.000000,0.000000,0.000000
2016-08-23,11.0306,11.021533,11.021533,0,0.0,0,0.000490,98.37,98.33,0,0,0,0.000000,0.000000,0.000000
2016-08-24,11.0360,11.022980,11.022980,0,0.0,0,0.029123,101.24,98.37,0,0,0,0.000000,0.000000,0.000000
2016-08-25,11.3574,11.053382,11.053382,0,0.0,0,-0.005459,100.69,101.24,0,0,0,0.000000,0.000000,0.000000
2016-08-26,11.2954,11.073550,11.073550,0,0.0,0,-0.013032,99.37,100.69,0,0,0,0.000000,0.000000,0.000000
2016-08-27,11.1482,11.079292,11.079292,0,0.0,0,-0.019635,97.42,99.37,0,0,0,0.000000,0.000000,0.000000
2016-08-28,10.9293,11.068579,11.068579,0,0.0,0,0.004987,97.91,97.42,0,0,0,0.000000,0.000000,0.000000
2016-08-29,10.9838,11.062927,11.062927,0,0.0,0,0.022315,100.09,97.91,0,0,0,0.000000,0.000000,0.000000
2016-08-30,11.2289,11.073300,11.073300,0,0.0,0,0.039496,104.05,100.09,0,0,0,0.000000,0.000000,0.000000
2016-08-31,11.6724,11.108541,11.108541,0,0.0,0,0.027629,106.92,104.05,0,0,0,0.000000,0.000000,0.000000
2016-09-01,11.9949,11.157783,11.157783,0,0.0,0,0.009846,107.97,106.92,0,0,0,0.000000,0.000000,0.000000
2016-09-02,12.1130,11.208058,11.208058,0,0.0,0,-0.029250,104.82,107.97,0,0,0,0.000000,0.000000,0.000000
2016-09-03,11.7587,11.235590,11.235590,0,0.0,0,-0.006701,104.11,104.82,0,0,0,0.000000,0.000000,0.000000
2016-09-04,11.6799,11.256748,11.256748,0,0.0,0,0.003176,104.44,104.11,0,0,0,0.000000,0.000000,0.000000
2016-09-05,11.7170,11.277668,11.277668,0,0.0,0,-0.002381,104.20,104.44,0,0,0,0.000000,0.000000,0.000000
2016-09-06,11.6891,11.295557,11.295557,0,0.0,0,-0.012080,102.94,104.20,0,0,0,0.000000,0.000000,0.000000
2016-09-07,11.5479,11.306071,11.306071,0,0.0,0,-0.017492,101.14,102.94,0,0,0,0.000000,0.000000,0.000000
2016-09-08,11.3459,11.307664,11.307664,0,0.0,0,0.027049,103.87,101.14,0,0,0,0.000000,0.000000,0.000000
2016-09-09,11.6528,11.320938,11.320938,0,0.0,0,0.044255,108.47,103.87,0,0,0,0.000000,0.000000,0.000000
2016-09-10,12.1685,11.352330,11.352330,0,0.0,0,-0.043563,103.74,108.47,0,0,0,0.000000,0.000000,0.000000
2016-09-11,11.6384,11.362546,11.362546,0,0.0,0,0.021936,106.02,103.74,0,0,0,0.000000,0.000000,0.000000
2016-09-12,11.8937,11.380862,11.380862,0,0.0,0,0.002102,106.24,106.02,0,0,0,0.000000,0.000000,0.000000
2016-09-13,11.9187,11.398790,11.398790,0,0.0,0,0.000378,106.28,106.24,0,0,0,0.000000,0.000000,0.000000
2016-09-14,11.9232,11.422283,11.415706,1,1.0,1000,0.001157,106.41,106.28,100000,101000,101000,116.903412,101116.903412,101116.903412
2016-09-15,11.9370,11.448860,11.431997,1,0.0,1000,0.051839,111.92,106.41,0,1000,102000,5287.560962,107287.560962,107287.560962
2016-09-16,12.5558,11.508960,11.466052,1,0.0,1000,0.011373,113.19,111.92,0,1000,103000,1171.437532,104171.437532,104171.437532
2016-09-17,12.6986,11.573710,11.502303,1,0.0,1000,-0.021057,110.81,113.19,0,1000,104000,-2189.971993,101810.028007,101810.028007
2016-09-18,12.4312,11.629793,11.528843,1,0.0,1000,0.060960,117.57,110.81,0,1000,105000,6400.750576,111400.750576,111400.750576
2016-09-19,13.1890,11.694513,11.574958,1,0.0,1000,0.094116,128.63,117.57,0,1000,106000,9976.325681,115976.325681,115976.325681
2016-09-20,14.4303,11.802883,11.652130,1,0.0,1000,-0.045862,122.73,128.63,0,1000,107000,-4907.211928,102092.788072,102092.788072
2016-09-21,13.7685,11.891137,11.707824,1,0.0,1000,-0.037833,118.09,122.73,0,1000,108000,-4085.940887,103914.059113,103914.059113
2016-09-22,13.2476,11.965037,11.747305,1,0.0,1000,0.006318,118.83,118.09,0,1000,109000,688.677187,109688.677187,109688.677187
2016-09-23,13.3313,12.041547,11.786905,1,0.0,1000,-0.034010,114.79,118.83,0,1000,110000,-3741.117762,106258.882238,106258.882238
2016-09-24,12.8779,12.092230,11.813515,1,0.0,1000,0.017316,116.78,114.79,0,1000,111000,1922.126460,112922.126460,112922.126460
2016-09-25,13.1009,12.152413,11.844167,1,0.0,1000,-0.021205,114.30,116.78,0,1000,112000,-2374.917496,109625.082504,109625.082504
2016-09-26,12.8231,12.208243,11.866933,1,0.0,1000,0.021461,116.76,114.30,0,1000,113000,2425.122425,115425.122425,115425.122425
2016-09-27,13.0983,12.280543,11.894918,1,0.0,1000,0.013475,118.33,116.76,0,1000,114000,1536.156338,115536.156338,115536.156338
2016-09-28,13.2748,12.356910,11.925582,1,0.0,1000,-0.015172,116.54,118.33,0,1000,115000,-1744.740901,113255.259099,113255.259099
2016-09-29,13.0734,12.418393,11.950535,1,0.0,1000,0.011581,117.88,116.54,0,1000,116000,1343.374048,117343.374048,117343.374048
2016-09-30,13.2248,12.470140,11.977647,1,0.0,1000,-0.003940,117.42,117.88,0,1000,117000,-460.931068,116539.068932,116539.068932
2016-10-01,13.1727,12.509400,12.002544,1,0.0,1000,0.002050,117.66,117.42,0,1000,118000,241.867683,118241.867683,118241.867683
2016-10-02,13.1997,12.545623,12.026976,1,0.0,1000,0.019144,119.91,117.66,0,1000,119000,2278.179169,121278.179169,121278.179169
2016-10-03,13.4524,12.602080,12.055484,1,0.0,1000,-0.013039,118.35,119.91,0,1000,120000,-1564.625889,118435.374111,118435.374111

# MAKE SURE THE PERCENT CHANGE LOG ACCUMULATION OF RETURN MAKES SENSE TOO!! BEFORE MAKING SURE YOU HAVE WORKING STRATEGY THEN IMPLEMENT TRADING COSTS..